/* [project]/src/components/withAppLayout/App.module.sass.module.css [app-client] (css) */



/* [project]/src/components/Footer/Footer.module.sass.module.css [app-client] (css) */
.Footer-module-sass-module__TkRl9G__footer {
  background-image: url("/_next/static/media/footer-bg.05bbbe8f.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 37px;
}

.Footer-module-sass-module__TkRl9G__block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 117px;
}

.Footer-module-sass-module__TkRl9G__leftPart {
  display: flex;
  justify-content: space-between;
  width: 41%;
}

.Footer-module-sass-module__TkRl9G__item {
  display: flex;
  align-items: center;
  color: #fff;
  width: fit-content;
  margin-bottom: 18px;
}

.Footer-module-sass-module__TkRl9G__item:last-child {
  margin-bottom: 0;
}

.Footer-module-sass-module__TkRl9G__imgWrapper {
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.Footer-module-sass-module__TkRl9G__title {
  font-size: 16px;
  line-height: 110%;
}

.Footer-module-sass-module__TkRl9G__rightPart {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.Footer-module-sass-module__TkRl9G__socialTitle {
  color: #ffffffbf;
  font-size: 14px;
  line-height: 130%;
  margin-bottom: 18px;
}

.Footer-module-sass-module__TkRl9G__socials {
  display: flex;
  align-items: center;
  margin-bottom: 26px;
}

.Footer-module-sass-module__TkRl9G__social {
  margin-right: 15px;
}

.Footer-module-sass-module__TkRl9G__social:last-child {
  margin-right: 0;
}

.Footer-module-sass-module__TkRl9G__line {
  background-color: #ffffff40;
  height: 1px;
  margin-bottom: 16px;
}

.Footer-module-sass-module__TkRl9G__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Footer-module-sass-module__TkRl9G__copyright {
  font-size: 14px;
  color: #0eb553a6;
}

.Footer-module-sass-module__TkRl9G__documents {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.Footer-module-sass-module__TkRl9G__sep {
  color: #0eb55373;
  margin: 0 5px;
}

.Footer-module-sass-module__TkRl9G__offer, .Footer-module-sass-module__TkRl9G__confident {
  color: #0eb553d9;
  transition: all .3s;
  position: relative;
}

.Footer-module-sass-module__TkRl9G__offer:before, .Footer-module-sass-module__TkRl9G__confident:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #0eb553d9;
  bottom: -2px;
  pointer-events: none;
  transition: all .3s;
}

.Footer-module-sass-module__TkRl9G__offer:hover, .Footer-module-sass-module__TkRl9G__confident:hover {
  color: #0eb55373;
  text-decoration: none;
}

.Footer-module-sass-module__TkRl9G__offer:hover:before, .Footer-module-sass-module__TkRl9G__confident:hover:before {
  width: 0;
  transition: all .3s;
}


/* [project]/src/pageComponents/Home/Home.module.sass.module.css [app-client] (css) */
.Home-module-sass-module__drqoyG__search {
  margin-bottom: 60px;
  box-shadow: 0 4px 10px #0000000f;
  -webkit-box-shadow: 0 4px 10px #0000000f;
}

.Home-module-sass-module__drqoyG__cats {
  margin-bottom: 60px;
}

.Home-module-sass-module__drqoyG__articlesTitle {
  margin-bottom: 40px;
}

.Home-module-sass-module__drqoyG__articles {
  margin-bottom: 60px;
}

.Home-module-sass-module__drqoyG__info {
  margin-bottom: 75px;
}

.Home-module-sass-module__drqoyG__questions {
  margin-bottom: 60px;
}

.Home-module-sass-module__drqoyG__partners {
  margin-bottom: 55px;
}


/* [project]/src/containers/Content/SearchPanel/SearchPanel.module.sass.module.css [app-client] (css) */
.SearchPanel-module-sass-module__5mlhzW__block {
  background-color: #fff;
  padding: 20px 0;
}

.SearchPanel-module-sass-module__5mlhzW__wrapper {
  display: flex;
  align-items: center;
}

.SearchPanel-module-sass-module__5mlhzW__search {
  flex-grow: 1;
  margin-right: 20px;
}

.SearchPanel-module-sass-module__5mlhzW__select {
  width: 256px;
  margin-right: 20px;
}

.SearchPanel-module-sass-module__5mlhzW__button {
  width: 160px;
  background-color: #0eb553;
  height: 50px;
  border-radius: 8px;
  color: #fff;
  transition: all .3s;
}

.SearchPanel-module-sass-module__5mlhzW__button:hover {
  opacity: .8;
  transition: all .3s;
}


/* [project]/src/containers/Content/Search/Search.module.sass.module.css [app-client] (css) */
.Search-module-sass-module__WAOdga__block {
  display: flex;
  align-items: center;
  height: 50px;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  padding: 0 12px;
}

.Search-module-sass-module__WAOdga__imageWrapper {
  padding: 4px;
}

.Search-module-sass-module__WAOdga__separator {
  margin: 0 12px;
  color: #64748b;
  font-size: 14px;
}

.Search-module-sass-module__WAOdga__input {
  width: 100%;
  font-size: 14px;
}


/* [project]/src/containers/Home/Articles/Articles.module.sass.module.css [app-client] (css) */
.Articles-module-sass-module__1vQofq__block {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(268px, 1fr));
  gap: 17px;
  margin-bottom: 72px;
}

.Articles-module-sass-module__1vQofq__button {
  display: flex;
  justify-content: center;
}


/* [project]/src/containers/Content/Article/Article.module.sass.module.css [app-client] (css) */
.Article-module-sass-module___ExCYW__block {
  background-color: #fff;
  box-shadow: 0 4px 10px #0000000f;
  -webkit-box-shadow: 0 4px 10px #0000000f;
  display: flex;
  flex-direction: column;
}

.Article-module-sass-module___ExCYW__imageBlock {
  padding: 5px 5px 0;
  position: relative;
}

.Article-module-sass-module___ExCYW__image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.Article-module-sass-module___ExCYW__smallImg {
  position: absolute;
  top: 15px;
  right: 15px;
}

.Article-module-sass-module___ExCYW__sent {
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  line-height: 180%;
  background-color: #f43131;
  border-radius: 8px;
  padding: 4px 12px;
}

.Article-module-sass-module___ExCYW__contentBlock {
  padding: 15px;
  height: 163px;
}

.Article-module-sass-module___ExCYW__title {
  font-size: 15px;
  line-height: 140%;
  margin-bottom: 8px;
}

.Article-module-sass-module___ExCYW__content {
  font-size: 12px;
  line-height: 150%;
  color: #64748b;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}

.Article-module-sass-module___ExCYW__bottomBlock {
  background-color: #fbfbfb;
  padding: 15px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Article-module-sass-module___ExCYW__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 12px;
}

.Article-module-sass-module___ExCYW__createdBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Article-module-sass-module___ExCYW__createdAt {
  font-size: 10px;
  line-height: 180%;
  color: #bdc4ce;
}

.Article-module-sass-module___ExCYW__checked {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Article-module-sass-module___ExCYW__checkedImgWrapper {
  padding: 7.75px 5.75px;
  margin-right: 5px;
}

.Article-module-sass-module___ExCYW__checkedTitle {
  font-size: 10px;
  line-height: 180%;
  color: #0eb553;
}


/* [project]/src/containers/Content/Tag/Tag.module.sass.module.css [app-client] (css) */
.Tag-module-sass-module__vvZR2a__block {
  color: #64748b;
  font-size: 10px;
  line-height: 180%;
  padding: 4px 8px;
  background-color: #f2f4f5;
  border-radius: 8px;
}


/* [project]/src/containers/Buttons/BorderButton/BorderButton.module.sass.module.css [app-client] (css) */
.BorderButton-module-sass-module__f5_G2a__button {
  border: 1px solid #0eb553;
  width: 224px;
  height: 40px;
  border-radius: 8px;
  color: #0eb553;
  transition: all .3s;
}

.BorderButton-module-sass-module__f5_G2a__button:hover {
  background-color: #0eb553;
  color: #fff;
  transition: all .3s;
}


/* [project]/src/containers/Home/HomeInfo/HomeInfo.module.sass.module.css [app-client] (css) */
.HomeInfo-module-sass-module__K-qAWa__desc {
  text-align: center;
}

.HomeInfo-module-sass-module__K-qAWa__title {
  margin-bottom: 40px;
}

.HomeInfo-module-sass-module__K-qAWa__desc {
  font-size: 14px;
  line-height: 150%;
  color: #64748b;
}


/* [project]/src/containers/Home/Partners/Partners.module.sass.module.css [app-client] (css) */
.Partners-module-sass-module__7f-vYG__blockTitle {
  margin-bottom: 40px;
}

.Partners-module-sass-module__7f-vYG__items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Partners-module-sass-module__7f-vYG__item {
  width: 14.4%;
  height: auto;
  margin-right: 5%;
}

.Partners-module-sass-module__7f-vYG__item:last-child {
  margin-right: 0;
}


/*# sourceMappingURL=src_e178f2._.css.map*/
