/* [project]/src/containers/Content/Slider/Slider.module.sass.module.css [app-client] (css) */
.Slider-module-sass-module__1xElQa__sliderWrapper {
  position: relative;
}

.Slider-module-sass-module__1xElQa__bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #0f172a;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 1;
  visibility: visible;
  transition: all .3s;
}

.Slider-module-sass-module__1xElQa__bg_active {
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}

.Slider-module-sass-module__1xElQa__item {
  height: calc(100vh - 70px);
  min-height: 500px;
  position: relative;
}

.Slider-module-sass-module__1xElQa__image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.Slider-module-sass-module__1xElQa__imageBg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: .45;
  background-color: #0f172a;
}

.Slider-module-sass-module__1xElQa__content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.Slider-module-sass-module__1xElQa__contentWrapper {
  padding: 0 100px;
}

.Slider-module-sass-module__1xElQa__title {
  font-family: var(--playfair-display-font), sans-serif;
  font-weight: bold;
  font-size: clamp(30px, 4vw, 58px);
  text-align: center;
  margin-bottom: 25px;
  line-height: 110%;
}

.Slider-module-sass-module__1xElQa__description {
  font-family: var(--playfair-font), sans-serif;
  font-weight: 400;
  font-size: clamp(20px, 2vw, 28px);
  line-height: 115%;
  text-align: center;
  padding: 0 100px;
}

.Slider-module-sass-module__1xElQa__buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  width: 100%;
}

.Slider-module-sass-module__1xElQa__swiperPrev, .Slider-module-sass-module__1xElQa__swiperNext {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  width: 72px;
  height: 72px;
  border-radius: 72px;
  background-color: #0000;
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s;
}

.Slider-module-sass-module__1xElQa__swiperPrev:hover, .Slider-module-sass-module__1xElQa__swiperNext:hover {
  background-color: #0000001a;
  transition: all .3s;
}

.Slider-module-sass-module__1xElQa__swiperPrev:hover svg > path, .Slider-module-sass-module__1xElQa__swiperNext:hover svg > path {
  fill-opacity: 1;
  transition: all .3s;
}

.Slider-module-sass-module__1xElQa__swiperPrev svg > path, .Slider-module-sass-module__1xElQa__swiperNext svg > path {
  transition: all .3s;
}

.Slider-module-sass-module__1xElQa__button {
  font-size: 16px;
  color: #fff;
  padding: 10px 30px;
  height: 40px;
  background-color: #0eb553;
  border-radius: 8px;
  transition: all .3s;
  display: none;
  width: fit-content;
  margin: 0 auto;
  align-items: center;
}

.Slider-module-sass-module__1xElQa__pagination {
  display: none;
  position: absolute;
  margin: 0 auto;
  bottom: 10%;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
}

.Slider-module-sass-module__1xElQa__pg {
  width: 40px;
  height: 3px;
  background-color: #ffffff4d;
  cursor: pointer;
  transition: all .3s;
}

.Slider-module-sass-module__1xElQa__activePg {
  background-color: #fff;
  height: 4px;
}

@media (width <= 1199px) {
  .Slider-module-sass-module__1xElQa__swiperPrev, .Slider-module-sass-module__1xElQa__swiperNext {
    display: none;
  }

  .Slider-module-sass-module__1xElQa__description {
    margin-bottom: 45px;
  }

  .Slider-module-sass-module__1xElQa__button {
    display: flex;
  }

  .Slider-module-sass-module__1xElQa__content {
    top: 40%;
    transform: translateY(-50%);
  }

  .Slider-module-sass-module__1xElQa__pagination {
    display: flex;
  }
}

@media (width <= 991px) {
  .Slider-module-sass-module__1xElQa__contentWrapper, .Slider-module-sass-module__1xElQa__description {
    padding: 0 20px;
  }
}

@media (width <= 575px) {
  .Slider-module-sass-module__1xElQa__title {
    font-size: 28px;
    line-height: 135%;
    margin-bottom: 18px;
  }

  .Slider-module-sass-module__1xElQa__description {
    font-size: 19px;
    line-height: 110%;
  }

  .Slider-module-sass-module__1xElQa__pagination {
    bottom: 6%;
  }

  .Slider-module-sass-module__1xElQa__content {
    top: 44%;
  }
}

@media (width <= 400px) {
  .Slider-module-sass-module__1xElQa__contentWrapper, .Slider-module-sass-module__1xElQa__description {
    padding: 0;
  }
}

/*# sourceMappingURL=src_containers_Content_Slider_Slider_module_sass_module_b52d8e.css.map*/