/* [project]/src/assets/fonts/Playfair/stylesheet.css [app-client] (css, ) */
@font-face {
  font-family: Playfair;
  src: local(Playfair Italic), local(Playfair Italic), url("/_next/static/media/Playfair-Italic.6e77ec09.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}


/* [project]/src/assets/sass/index.sass.css [app-client] (css) */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: #0000;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted buttontext;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: Inter;
  src: url("/_next/static/media/Inter-Regular.079e8ca1.eot");
  src: local(Inter Regular), local(Inter-Regular), url("/_next/static/media/Inter-Regular.079e8ca1.eot") format("embedded-opentype"), url("/_next/static/media/Inter-Regular.1472cf17.woff2") format("woff2"), url("/_next/static/media/Inter-Regular.c5a649cc.woff") format("woff"), url("/_next/static/media/Inter-Regular.0cedb4a3.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url("/_next/static/media/Inter-SemiBold.5c609043.eot");
  src: local(Inter Semi Bold), local(Inter-SemiBold), url("/_next/static/media/Inter-SemiBold.5c609043.eot") format("embedded-opentype"), url("/_next/static/media/Inter-SemiBold.9ea85984.woff2") format("woff2"), url("/_next/static/media/Inter-SemiBold.9c59084c.woff") format("woff"), url("/_next/static/media/Inter-SemiBold.e6107b55.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url("/_next/static/media/Inter-Bold.ff18b038.eot");
  src: local(Inter Bold), local(Inter-Bold), url("/_next/static/media/Inter-Bold.ff18b038.eot") format("embedded-opentype"), url("/_next/static/media/Inter-Bold.596f1724.woff2") format("woff2"), url("/_next/static/media/Inter-Bold.2f59686c.woff") format("woff"), url("/_next/static/media/Inter-Bold.d489a1bc.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url("/_next/static/media/Inter-Medium.dcc1f0e3.eot");
  src: local(Inter Medium), local(Inter-Medium), url("/_next/static/media/Inter-Medium.dcc1f0e3.eot") format("embedded-opentype"), url("/_next/static/media/Inter-Medium.8745370b.woff2") format("woff2"), url("/_next/static/media/Inter-Medium.fc839b65.woff") format("woff"), url("/_next/static/media/Inter-Medium.e6831646.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html {
  overflow-x: hidden;
  margin-right: calc(-100vw + 100%);
}

body {
  font-family: Inter, sans-serif;
  color: #0f172a;
  background-color: #f2f4f5;
  touch-action: manipulation;
  height: 100%;
}

html, * {
  box-sizing: border-box;
  -webkit-tap-highlight-color: #0000;
  word-break: break-word;
}

img {
  display: block;
}

a {
  color: #0f172a;
  text-decoration: none;
  display: block;
}

h1 {
  font-size: 34px;
  font-weight: 600;
  text-align: center;
}

h2 {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
}

h3 {
  font-size: 21px;
  font-weight: 600;
  text-align: center;
}

input, textarea {
  border: none;
  outline: none;
  padding: 0;
  color: #0f172a;
  appearance: none;
}

input::placeholder, textarea::placeholder {
  color: #64748b;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus {
  -webkit-text-fill-color: #0f172a;
  -webkit-box-shadow: inset 0 0 0 1000px #fff;
  box-shadow: inset 0 0 0 1000px #fff;
  transition: background-color 5000s ease-in-out;
  caret-color: #0f172a;
}

button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.container {
  padding: 0 40px;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.wrapper_hidden {
  overflow: hidden;
}

.left-container {
  left: max(40px, 50vw - 700px);
}

.right-container {
  right: max(40px, 50vw - 700px);
}

.medium {
  font-weight: 500;
}

.semi-bold {
  font-weight: 600;
}

@media (width <= 1199px) {
  .container {
    padding: 0 20px;
  }

  .wrapper {
    width: 100%;
  }

  .left-container {
    left: 20px;
  }

  .right-container {
    right: 20px;
  }
}

@media (width <= 575px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 21px;
  }
}

@media (width <= 400px) {
  .container {
    padding: 0 15px;
  }

  .left-container {
    left: 15px;
  }

  .right-container {
    right: 15px;
  }
}


/*# sourceMappingURL=src_assets_9623a3._.css.map*/
