/* [project]/src/components/withAppLayout/App.module.sass.module.css [app-client] (css) */



/* [project]/src/pageComponents/Home/Home.module.sass.module.css [app-client] (css) */
.Home-module-sass-module__drqoyG__search {
  margin-bottom: 60px;
  box-shadow: 0 4px 10px #0000000f;
  -webkit-box-shadow: 0 4px 10px #0000000f;
}

.Home-module-sass-module__drqoyG__cats {
  margin-bottom: 60px;
}

.Home-module-sass-module__drqoyG__articlesTitle {
  margin-bottom: 40px;
}

.Home-module-sass-module__drqoyG__articles {
  margin-bottom: 60px;
}

.Home-module-sass-module__drqoyG__info {
  margin-bottom: 75px;
}

.Home-module-sass-module__drqoyG__questions {
  margin-bottom: 60px;
}


/* [project]/src/containers/Content/SearchPanel/SearchPanel.module.sass.module.css [app-client] (css) */
.SearchPanel-module-sass-module__5mlhzW__block {
  background-color: #fff;
  padding: 20px 0;
}

.SearchPanel-module-sass-module__5mlhzW__wrapper {
  display: flex;
  align-items: center;
}

.SearchPanel-module-sass-module__5mlhzW__search {
  flex-grow: 1;
  margin-right: 20px;
}

.SearchPanel-module-sass-module__5mlhzW__select {
  width: 256px;
  margin-right: 20px;
}

.SearchPanel-module-sass-module__5mlhzW__button {
  width: 160px;
  background-color: #0eb553;
  height: 50px;
  border-radius: 8px;
  color: #fff;
  transition: all .3s;
}

.SearchPanel-module-sass-module__5mlhzW__button:hover {
  opacity: .8;
  transition: all .3s;
}


/* [project]/src/containers/Content/Search/Search.module.sass.module.css [app-client] (css) */
.Search-module-sass-module__WAOdga__block {
  display: flex;
  align-items: center;
  height: 50px;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  padding: 0 12px;
}

.Search-module-sass-module__WAOdga__imageWrapper {
  padding: 4px;
}

.Search-module-sass-module__WAOdga__separator {
  margin: 0 12px;
  color: #64748b;
  font-size: 14px;
}

.Search-module-sass-module__WAOdga__input {
  width: 100%;
  font-size: 14px;
}


/* [project]/src/containers/Home/Articles/Articles.module.sass.module.css [app-client] (css) */
.Articles-module-sass-module__1vQofq__block {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(268px, 1fr));
  gap: 17px;
  margin-bottom: 72px;
}

.Articles-module-sass-module__1vQofq__button {
  display: flex;
  justify-content: center;
}


/* [project]/src/containers/Content/Article/Article.module.sass.module.css [app-client] (css) */
.Article-module-sass-module___ExCYW__block {
  background-color: #fff;
  box-shadow: 0 4px 10px #0000000f;
  -webkit-box-shadow: 0 4px 10px #0000000f;
  display: flex;
  flex-direction: column;
}

.Article-module-sass-module___ExCYW__imageBlock {
  padding: 5px 5px 0;
  position: relative;
}

.Article-module-sass-module___ExCYW__image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.Article-module-sass-module___ExCYW__smallImg {
  position: absolute;
  top: 15px;
  right: 15px;
}

.Article-module-sass-module___ExCYW__sent {
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  line-height: 180%;
  background-color: #f43131;
  border-radius: 8px;
  padding: 4px 12px;
}

.Article-module-sass-module___ExCYW__contentBlock {
  padding: 15px;
  height: 163px;
}

.Article-module-sass-module___ExCYW__title {
  font-size: 15px;
  line-height: 140%;
  margin-bottom: 8px;
}

.Article-module-sass-module___ExCYW__content {
  font-size: 12px;
  line-height: 150%;
  color: #64748b;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}

.Article-module-sass-module___ExCYW__bottomBlock {
  background-color: #fbfbfb;
  padding: 15px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Article-module-sass-module___ExCYW__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 12px;
}

.Article-module-sass-module___ExCYW__createdBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Article-module-sass-module___ExCYW__createdAt {
  font-size: 10px;
  line-height: 180%;
  color: #bdc4ce;
}

.Article-module-sass-module___ExCYW__checked {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Article-module-sass-module___ExCYW__checkedImgWrapper {
  padding: 7.75px 5.75px;
  margin-right: 5px;
}

.Article-module-sass-module___ExCYW__checkedTitle {
  font-size: 10px;
  line-height: 180%;
  color: #0eb553;
}


/* [project]/src/containers/Content/Tag/Tag.module.sass.module.css [app-client] (css) */
.Tag-module-sass-module__vvZR2a__block {
  color: #64748b;
  font-size: 10px;
  line-height: 180%;
  padding: 4px 8px;
  background-color: #f2f4f5;
  border-radius: 8px;
}


/* [project]/src/containers/Buttons/BorderButton/BorderButton.module.sass.module.css [app-client] (css) */
.BorderButton-module-sass-module__f5_G2a__button {
  border: 1px solid #0eb553;
  width: 224px;
  height: 40px;
  border-radius: 8px;
  color: #0eb553;
  transition: all .3s;
}

.BorderButton-module-sass-module__f5_G2a__button:hover {
  background-color: #0eb553;
  color: #fff;
  transition: all .3s;
}


/* [project]/src/containers/Home/HomeInfo/HomeInfo.module.sass.module.css [app-client] (css) */
.HomeInfo-module-sass-module__K-qAWa__desc {
  text-align: center;
}

.HomeInfo-module-sass-module__K-qAWa__title {
  margin-bottom: 40px;
}

.HomeInfo-module-sass-module__K-qAWa__desc {
  font-size: 14px;
  line-height: 150%;
  color: #64748b;
}


/*# sourceMappingURL=src_3705e5._.css.map*/
