/* [project]/src/app/Home.module.sass.module.css [app-client] (css) */
.Home-module-sass-module__xWlcGa__search {
  margin-bottom: 60px;
}

.Home-module-sass-module__xWlcGa__cats {
  margin-bottom: 60px;
}


/* [project]/src/containers/Content/SearchPanel/SearchPanel.module.sass.module.css [app-client] (css) */
.SearchPanel-module-sass-module__5mlhzW__block {
  background-color: #fff;
  padding: 20px 0;
}

.SearchPanel-module-sass-module__5mlhzW__wrapper {
  display: flex;
  align-items: center;
}

.SearchPanel-module-sass-module__5mlhzW__search {
  flex-grow: 1;
  margin-right: 20px;
}

.SearchPanel-module-sass-module__5mlhzW__select {
  width: 256px;
  margin-right: 20px;
}

.SearchPanel-module-sass-module__5mlhzW__button {
  width: 160px;
  background-color: #0eb553;
  height: 50px;
  border-radius: 8px;
  color: #fff;
  transition: all .3s;
}

.SearchPanel-module-sass-module__5mlhzW__button:hover {
  opacity: .8;
  transition: all .3s;
}


/* [project]/src/containers/Content/Search/Search.module.sass.module.css [app-client] (css) */
.Search-module-sass-module__WAOdga__block {
  display: flex;
  align-items: center;
  height: 50px;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  padding: 0 12px;
}

.Search-module-sass-module__WAOdga__imageWrapper {
  padding: 4px;
}

.Search-module-sass-module__WAOdga__separator {
  margin: 0 12px;
  color: #64748b;
  font-size: 14px;
}

.Search-module-sass-module__WAOdga__input {
  width: 100%;
  font-size: 14px;
}


/* [project]/src/containers/Content/PopularCats/PopularCats.module.sass.module.css [app-client] (css) */
.PopularCats-module-sass-module__trlPRW__cats {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 32px;
  row-gap: 32px;
  justify-content: space-between;
  margin-bottom: 72px;
}

.PopularCats-module-sass-module__trlPRW__blockTitle {
  margin-bottom: 40px;
}

.PopularCats-module-sass-module__trlPRW__item {
  width: 160px;
  margin: 0 auto;
  display: none;
}

.PopularCats-module-sass-module__trlPRW__item:nth-child(-n+7) {
  display: block;
}

.PopularCats-module-sass-module__trlPRW__item_active {
  display: block;
}

.PopularCats-module-sass-module__trlPRW__imageWrapper {
  width: 160px;
  height: 160px;
  background-color: #e8ecf1;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 26px;
}

.PopularCats-module-sass-module__trlPRW__title {
  font-size: 17px;
  text-align: center;
}

.PopularCats-module-sass-module__trlPRW__button {
  display: flex;
  justify-content: center;
}

@media (width <= 1391.9px) {
  .PopularCats-module-sass-module__trlPRW__item:nth-child(7) {
    display: none;
  }
}

@media (width <= 1199.9px) {
  .PopularCats-module-sass-module__trlPRW__item:nth-child(6) {
    display: none;
  }
}


/* [project]/src/containers/Buttons/BorderButton/BorderButton.module.sass.module.css [app-client] (css) */
.BorderButton-module-sass-module__f5_G2a__button {
  border: 1px solid #0eb553;
  width: 224px;
  height: 40px;
  border-radius: 8px;
  color: #0eb553;
  transition: all .3s;
}

.BorderButton-module-sass-module__f5_G2a__button:hover {
  background-color: #0eb553;
  color: #fff;
  transition: all .3s;
}


/*# sourceMappingURL=src_95c2a0._.css.map*/
