@font-face {
    font-family: 'Playfair Display';
    src: local('PlayfairDisplay SemiBoldItalic'), local('PlayfairDisplay-SemiBoldItalic'),
        url('PlayfairDisplay-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}
